# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
backend/media
backend/staticfiles
node_modules
dist
dist-ssr
*.local

venv
.env
.env.production
*.pth
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/media
backend/staticfiles
backend/logs
staticfiles
media